@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}
#main {
  width: 100%;
  height: 100vh;
  padding: 20px 10%;
}
/* navbar styling */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar h1 {
  font-family: cursive;
  color: rgb(255, 60, 0);
  font-weight: 900;
}
#navbar h1 span {
  background: linear-gradient(
    to right,
    rgb(217, 255, 0),
    blue,
    rgb(235, 10, 10)
  );
  background-clip: text;
  -webkit-text-fill-color: text;
  color: transparent;
}
#navbar .nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 35px;
  position: relative;
}
#navbar .nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -3px;
  left: 0px;
  height: 3px;
  background-color: red;
  transition: 0.3s ease;
}
#navbar .nav a:hover::after {
  width: 100%;
}
.openIcon{
  display: none;
}
.closeIcon{
  display: none;
 
}
.profile {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: white;
  display: block;
}

.profiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 8%;
  flex-wrap: wrap;
}

/* text area */
.profiles .text {
  flex: 1 1 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text .name {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 5px;
  color: #aaa;
}

.text .interest {
  font-size: 1.5rem;
  font-style: italic;
  color: #aaa;
}

/* image area */
.profiles .profile {
  flex: 1 1 300px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* styling for typing effect */
.typing {
  max-width: 450px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff; /* cursor */
  animation: typing 6s steps(60, end) infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.line {
  border: 1px solid #99999954;
  margin-top: 50px;
}

/*------------------------ styling for about section--------------------- */

#about {
  width: 100%;
  height: 100vh;
  margin-top: 8%;
  margin-bottom: 160px;
}
.aboutmyself {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.about-image {
  flex-basis: 35%;
  max-width: 600px;
}
.about-desc {
  flex-basis: 65%;
  max-width: 600px;
  min-height: 300px;
  background-color: #111;
  border-radius: 10px;
  padding: 10px;
}
.about-image img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 15px;
}

.qualifications .tab-heading {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 10px;
}

/* ===================contact styling===================  */

.contact-me {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.contact-left {
  flex: 1;
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}

.contact-left h1 {
  font-size: 53px;
  margin-bottom: 20px;
}
.mails {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mails p i {
  color: rgba(238, 7, 46, 0.705);
  font-size: 23px;
}
.social-icons {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.social-icons i {
  font-size: 24px;
  border: 1px solid;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 40px;
}
.social-icons i:hover {
  background-color: #111;
  border: 1px solid green;
}

.download a {
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 12px 25px;
  border: none;
  outline: none;
  background-color: rgb(212, 8, 42);
  color: #fff;
  cursor: pointer;
}

.contact-form input {
  width: 100%;
  padding: 14px;
  background-color: #111;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 24px;
}
.contact-form .text {
  display: flex;
  flex-direction: column;
}
.contact-form textarea {
  width: 100%;
  min-height: 200px;
  background-color: #111;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.text button {
  width: 160px;
  height: 50px;
  font-size: 19px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(238, 3, 42);
  color: #fff;
  cursor: pointer;
}

/* ==============portfolio styling======================  */
#portfolio{
margin-bottom: 200px;
position: relative;
overflow: hidden;
}
#portfolio img{
   width: 100%;
   display: block;
   border-top-left-radius: 200px;
  border-bottom-right-radius: 200px; 
  transition: transform 0.5s;
  
}

.image-desc{
  width: 100%;
   height: 0;
   background: linear-gradient(rgb(0,0,0,0), #ff004f);
   border-top-left-radius: 100px;
  border-bottom-right-radius: 200px; 
   position: absolute;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   font-size: 14px;
   transition: height 0.5s;
}

#portfolio:hover .image-desc{
  height: 80%;
  cursor: pointer;
}
.ecom-btn{
 margin-top: 15px;
 display: flex;
 gap: 10px;
}
.ecom-btn button{
  padding: 13px 25px;
  border: 1px solid rgb(243, 2, 42);
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ecom-btn button i{
  font-size: 26px;
}
.ecom-btn button a{
  text-decoration: none;
  color: #fff;
}
/* ==================services styling=====================  */
#services {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  margin-bottom: 200px;
  padding: 40px;
}
#services .title{
  margin-bottom: 30px;
  font-size: 43px;
  font-family: cursive;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
.project {
  width: 300px;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  transition: transform 0.5s;
}
.project:hover{
  transform: translateY(-15px);
  transition: transform 0.5s;
  cursor: pointer;
}
.project .name {
  font-size: 22px;
  font-weight: 600;
  color: #aaa;
}
.project .image {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: rebeccapurple;
}
.project .image img {
  width: 100%;
  height: 100%;
}
.project .desc {
  color: #eee;
  font-size: 14px;
  margin-bottom: 15px;
}
.project a {
  display: grid;
  place-items: center;
  text-decoration: none;
  margin: 20px;
  border: 1px solid;
  padding: 8px;
  color: #fff;
  background: transparent;
}
.project a:hover {
  background-color: #333;
}

#footer {
  background-color: rgb(14, 13, 13);
  margin-top: 50vh;
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
#footer i {
  color: red;
}

/* navbar styling end  */

/*  Responsive breakpoint */
@media (max-width: 800px) {
  .profiles {
    flex-direction: column; /* stack vertically */
    text-align: center;
  }

  .profiles .profile {
    order: -1; /* puts image on TOP */
  }

  .text .name {
    font-size: 8vw; /* bigger text scaling on mobile */
    margin-top: -40%;
  }
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .line {
    margin-top: -10%;
  }
  
.openIcon{
  display: block;
  cursor: pointer;
  font-size: 28px;
}
.closeIcon{
  display: block;
  padding: 0px 20px;
  font-size: 23px;
  cursor: pointer;
}

.nav{
  position: fixed;
  top: 0;
  right: -200px;
  bottom: 0;
  left: auto;
  width: 200px;
  height: 100vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0px;
  font-size: 18px;
 transition:  0.5s ease;
}
.nav.active{
 right: 0px;
 transition: 0.5s ease;
}
#navbar .nav a:hover::after {
  width: 55%;
}










}
